{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
      <div class="gif_img">
        <img src="{% static 'images/meeting.gif' %}" style="width:720px;" alt="">
      </div>

      <div style="margin-top: 12rem;margin-left: 5rem;padding: 3rem;">
        <div class="wrapper">
          <section>Hello {{name}}, you are Welcome </section>
          <ul>
            <li><a href="{% url 'newMeeting' %}" class="active">
                  <i class="fa-sharp fa-solid fa-handshake"></i>New Meeting
                </a>
            </li>
            <li><a href="{% url 'joinMeeting' %}">
                    <i class="fas fa-rss icon"></i>Join Meeting
                </a>
            </li>
            <li><a href="#">
              <i class="fas fa-address-book icon"></i> Logout
                </a>
            </li>
        </ul>  
        </div>
      </div>  
</div>

{% endblock content %}