body{
  padding: 0px 0px 0px 0px;
}
.container-fluid{
display: flex;
margin-top: 0px;
}
.gif_img{
  margin-left: 0px;
}
.list_items{
    margin: 17px 23px auto 124px;
    padding: 0;
    width: 300px;
  }
  .list_items a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  button{
  border-radius: 24px;
  width: 17rem;
  }
  /* .icon {
    margin-right: 10px;
  } */
