<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video conferencing</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <link rel="shortcut icon" href="{% static 'images/logo.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>